<div class="header">
    <div style="display: flex;align-items: center;">
        <img src="/assets/img/damian.jpg" height="50px" style="border-radius: 50%;">
        <div class="header-text">
            Welcome, <span>Bobby Axelrod</span>. Here’s your personalized financial dashboard
        </div>
    </div>

    <div style="display: flex;">
        <div class="header-item">
            Currency: GBP
            &nbsp;
            <li class="fa fa-angle-down"></li>
        </div>
        <div class="header-item">
            My Account
            &nbsp;
            <li class="fa fa-angle-down"></li>
        </div>
    </div>
</div>