.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0px;
}

.header-text {
  padding-left: 14px;
  font-weight: 100;
}

.header-text > span {
  font-weight: bold;
}

.header-item{
    font-size: 12px;
    padding:0 20px
}
