.background {
  background-repeat: repeat-y;
  background-size: cover;
  background-image: radial-gradient(
      rgba(46, 73, 55, 0.85) 20%,
      rgb(46, 73, 55) 80%
    ),
    url(https://cdn.cnn.com/cnnnext/dam/assets/200211132401-01-dubai-buildings-full-169.jpg);

  width: 100vw;
  height: 100vh;
  color: white;
}
