.sidebar-wrapper {
  width: 250px;
}

.logo {
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
  padding-top: 20px;

  animation-name: anim;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes anim {
  0% {
    transform: translate(500%, 200%);
  }

  100% {
    transform: translate(0%, 0%);
  }
}
