<div class="sidebar-wrapper">
    <div style="display:flex;justify-content: center;padding-bottom: 100px;padding-top: 20px;">

        <img src="/assets/img/logo.svg" width="100" alt="">
    </div>
    <div style="padding:15px">
        <app-sidebar-item name="Dashboard" faicon="fa fa-bar-chart" route="dashboarddata">
        </app-sidebar-item>
        <app-sidebar-item name="Advisors" faicon="fa fa-line-chart" route="dashboarddata">
        </app-sidebar-item>
        <app-sidebar-item name="My Documents" faicon="fa fa-file-text-o" route="dashboarddata">
        </app-sidebar-item>
        <app-sidebar-item name="News feed" faicon="fa fa-rss" route="dashboarddata">
        </app-sidebar-item>
        <app-sidebar-item name="Support" faicon="fa fa-phone" route="dashboarddata">
        </app-sidebar-item>
    </div>
</div>