<div class="wrapper">

    <app-sidebar></app-sidebar>
    <div class="dashboard-data">
        <app-header></app-header>
        <div style="display:flex;font-size: 22px;align-items: center;">
            <div style="margin-right: 10px;">Dashboard Home</div>
            <div style="background-color: rgb(163, 163, 163);flex: 1;height: 1px;"></div>
        </div>

        <div class="grid-container">
            <div class="grid-item stats">
                <div class="title-container">
                    <div class="grid-item-title">Quick Stats</div>

                </div>
                <div class="grid-item-content">
                    <div class="card-shadow" style="flex: 2;">
                        <div class="amount">
                            &#163;563,350
                        </div>
                        <div class="amount-desc">Your net worth as of today</div>
                    </div>
                    <div style="width: 30px;"></div>
                    <div class="card-shadow" style="flex: 1;">
                        <div class="amount">
                            &#163;12,430
                        </div>
                        <div class="amount-desc">Monthly Cashflow</div>
                    </div>
                    <div style="width: 30px;"></div>
                    <div class="card-shadow" style="flex: 1;">
                        <div class="amount">
                            &#163;161,430
                        </div>
                        <div class="amount-desc">Overall Liabilities</div>
                    </div>
                </div>
            </div>
            <div class="grid-item health">
                <div class="title-container">
                    <div class="grid-item-title">My Financial Health</div>

                    <div class="pill-selected">
                        View Financial Health
                    </div>

                </div>
                <div class="grid-item-content">
                    <div class="card-shadow" style="flex: 1;">
                        <div style="display: flex;margin-bottom: 10px;">
                            <div style="flex: 90;"></div>
                            <div>
                                75%
                            </div>
                            <div style="flex: 10;"></div>
                        </div>
                        <div style="display: flex;">
                            <div style="flex: 75;"></div>
                            <div
                                style="width: 10px;height: 10px;background-color: #79d53f;border-radius: 10px 10px 0 0;margin-left: 250px;">
                            </div>
                            <div style="flex: 24;"></div>
                        </div>
                        <div class="health-bar">
                        </div>
                        <div class="health-words">
                            <div style="color:rgba(255,0,0,1) ;">POOR</div>
                            <div style="color:#e8b86d ;">AVERAGE</div>
                            <div style="color:rgba(76,199,84,1) ;">GOOD!</div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="grid-item performance">
                <div class="title-container">
                    <div class="grid-item-title">My Performance</div>
                </div>
                <app-performance-chart></app-performance-chart>
            </div>
            <div class="grid-item goals">
                <div class="title-container">
                    <div class="grid-item-title">My Goal</div>

                    <div class="pill-selected">
                        View all Goals
                    </div>
                </div>
                <div style="display: flex;justify-content: space-between;">
                    <app-goals-charts title="Retirement" percentage="65" amount1="563,350" amount2="200,000"></app-goals-charts>
                   
                    <app-goals-charts title="Vacation Home" percentage="46"  amount1="46,350" amount2="100,000"></app-goals-charts>
                    <app-goals-charts title="Travel" percentage="46"  amount1="46,350" amount2="100,000"></app-goals-charts>
                </div>

            </div>
            <div class="grid-item news">
                <app-industry-news></app-industry-news>
            </div>
            <div class="grid-item comments">
                <app-top-comments></app-top-comments>
            </div>
            <div class="grid-item users">
                <app-users></app-users>
            </div>
        </div>
    </div>
</div>