.wrapper {
  display: flex;
}
.dashboard-data {
  background-color: white;
  color: black;
  padding: 30px 20px;
  width: 100%;
}

.stats {
  grid-area: stats;
}
.health {
  grid-area: health;
}
.performance {
  grid-area: performance;
}
.goals {
  grid-area: goals;
}
.news {
  grid-area: news;
}
.comments {
  grid-area: comments;
}
.users {
  grid-area: users;
}
.amount {
  font-size: 26px;
  color: #383838;
}

.amount-desc {
  margin-top: 5px;
  font-size: 12px;
  color: #505050;
}

.health-words {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.health-words > div {
  font-size: 12px;
}

.health-bar {
  width: 100%;
  height: 3px;
  background: linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 0%,
    #e8b86d 50%,
    rgba(76, 199, 84, 1) 100%
  );
  margin-bottom: 5px;
}

.dashboard-data {
  animation-name: fadeIn;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
